doctype html
html
  head
    title="Dragon A-Cell Games"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://aframe.io/releases/1.5.0/aframe.min.js")
    script(src="javascripts/mycomponents.js")
    script(src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js")
    link(rel="icon" href="images/favicon.ico" type="image/x-icon")


  body
    block content
